@import '../../styles/vars'

.content
  display flex
  justify-content space-between
  flex-direction column
  flex-grow 1
  position relative

  .main-content
    display flex
    flex-grow 1
    margin-bottom $border-width

.fade-enter,
.fade-exit
  position absolute
  top 46px

.fade-enter
  opacity 0
  z-index 1

.fade-enter.fade-enter-active
  opacity 1
  transition opacity 250ms ease-in
