@import '../../styles/colors'
@import '../../styles/vars'

.header
  display flex

  .logo,
  .inner-header
    padding 1rem
    background-color $backgroundColor
    color $fadedText

  .logo
    color $headerLogoColor

  .logo
    flex-shrink 0
    flex-grow 0
    font-weight 600
    margin-right $border-width
    width $sidebar-width

  .inner-header
    flex-grow 1
    display flex
    justify-content space-between

    small
      color $headerSmallColor
      font-weight 300
