.footer
  position fixed
  bottom 0
  left 180px
  right 0
  height 300px

  .card
    height 100%

    .inner-footer
      display flex
      flex-direction column
      justify-content flex-end
      padding 10px
      height 100%
      width 100%
      box-shadow inset 0 0 8px 4px rgba(black, 0.4)
      border-radius 4px
      background-color rgba(white, 0.7)
