@import '../../styles/colors'

.sent-item,
.received-item,
.error-item
  max-width 80vw

.sent-item
  color: $logItemSentColor

.received-item
  color: $logItemReceivedColor

.error-item
  color: $logItemErrorColor