@import '../../styles/colors'

.modal-overlay
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(white, .2)
  display flex
  justify-content space-around
  align-items center

  .modal
    height 20rem
    width 60rem
    border-radius .4rem
    background-color $cardBackground
    padding 2rem

    &:focus
      outline 0

    .modal-actions
      margin-top 3rem
