@import '../../../styles/colors'
@import '../../../styles/vars'

.sidebar-header
  color rgba($darkAccent, 0.7)
  height 2rem
  text-transform uppercase
  margin-left -0.5rem
  margin-bottom 1.5rem
  font-size 1.2rem
  font-weight 500

  &:after
    content ''
    width calc(100% - 4rem)
    margin-left -0.5rem
    height $border-width
    background-color rgba($darkAccent, 0.2)
    display block
    position absolute
