@import '../../styles/colors'
@import '../../styles/vars'

.card
  background $cardBackground
  margin $border-width 0 0 $border-width
  position relative
  width 100%

  &.faded:after
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    content ''
    background-color $danger
    opacity 0.1

  &.card-small
    padding 1rem
  
  &.card-large
    padding 1rem 2rem
