@import '../../styles/colors'
@import '../../styles/vars'

.card
  background $cardBackground
  margin $border-width 0 0 $border-width
  position relative
  width 100%

  &.card-small
    padding 10px
  
  &.card-large
    padding 10px 20px
