@import 'colors'

$button = {
  primary: {
    color: $darkShade
    background-color: $brand
    border-color: $brand
    
    hover: {
      color: $brand
      background-color: transparent
      border-color: $brand
    }
  }

  success: {
    color: $darkShade
    background-color: $success
    border-color: $success
    
    hover: {
      color: $success
      background-color: transparent
      border-color: $brand
    }
  }

  danger: {
    color: $darkShade
    background-color: $danger
    border-color: $danger

    hover: {
      color: $danger
      background-color: transparent
      border-color: $brand
    }
  }

  outline: {
    primary: {
      color: $brand
      background-color: transparent
      border-color: $brand

      hover: {
        color: $lightestGrey
        background-color: transparent
        border-color: $lightestGrey
      }
    }

    success: {
      color: $success
      background-color: transparent
      border-color: $success
      
      hover: {
        color: $success
        background-color: transparent
        border-color: $brand
      }
    }

    danger: {
      color: $danger
      background-color: transparent
      border-color: $danger

      hover: {
        color: $danger
        background-color: transparent
        border-color: $brand
      }
    }
  }
}
