// branding
$cod-gray                  = #0A070A
$baltic-sea                = #1f1e21
$rob-roy                   = #eac77a
$westar                    = #e5e2d9
$mischka                   = #e5e4e6

// Reds
$salmon                    = #ff8473
$coral-red                 = #ff4241
$copper-rust               = #984843

// Greens
$emerald                   = #3cc480
$sea-green                 = #2C8E5D

// Blues
$malibu                    = #55d7fe

// Greys 
$emperor                   = #555555
$lightestGrey              = lighten($emperor, 70%)
$lighterGrey               = lighten($emperor, 50%)
$lightGrey                 = lighten($emperor, 15%)
$grey                      = $emperor
$darkGrey                  = darken($emperor, 15%)
$darkerGrey                = darken($emperor, 50%)
$darkestGrey               = darken($emperor, 70%)

$lightShade                = $mischka
$lightAccent               = $westar
$brand                     = $rob-roy
$darkAccent                = $baltic-sea
$darkShade                 = $cod-gray
$redAccent                 = $copper-rust

$primary                   = $brand
$info                      = $malibu
$success                   = $emerald
$warning                   = $salmon
$danger                    = $coral-red

$backgroundColor           = $darkShade
$cardBackground            = $darkAccent

$textColor                 = $lightShade
$fadedText                 = darken($textColor, 30%)

$linkColor                 = $lightShade
$linkColorHover            = lighten($linkColor, 15%)

$inputText                 = $brand
$inputBackground           = transparent
$inputBorder               = $lightestGrey
$inputBorderFocus          = $brand

$tableBorderColor          = $lightShade
$blockquoteBorderColor     = $lightAccent
$codeBackground            = $lightAccent
$preBackground             = $lightAccent
$preBorderColor            = $brand
$hrColor                   = $lightAccent

$headerLogoColor           = $brand
$headerSmallColor          = $fadedText

$logItemSentColor          = $warning
$logItemReceivedColor      = $success
$logItemErrorColor         = $danger

$sidebarIcon               = $brand
$sidebarLabel              = $lightestGrey

$progressBarActive         = $sea-green
$progressBarInctive        = $lightGrey
