$cararra       = #edefea
$flamingo      = #f55520
$gray-nurse    = #eaefeb
$guardsman-red = #bd0000
$jagged-ice    = #c3e7ea
$kabul         = #634843
$livid-brown   = #442737
$mine-shaft    = #222222
$pomegranate   = #f24f17
$ronchi        = #ebc147
$salt-box      = #6e6473
$sorbus        = #fc840a
$stiletto      = #993638
$swirl         = #d7d1cb
$sycamore      = #7f9442
$thunder       = #312528
$white         = #ffffff

$lightShade = $swirl
$lightAccent = $salt-box
$brand = $pomegranate
$darkAccent = $stiletto
$darkShade = $thunder

$primary = $flamingo
$info = $jagged-ice
$success = $sycamore
$warning = $sorbus
$danger = $guardsman-red

$backgroundColor = $thunder
$backgroundHighlight = lighten($backgroundColor, 10)
$cardBackground = $gray-nurse

$textColor = $darkAccent
$fadedText = rgba($brand, 0.4)

$linkColor = $ronchi
$linkColorHover = $brand

$inputText = $brand
$inputBackground = rgba($white, 0.75)
$inputBorder = $salt-box
$inputBorderFocus = rgba($darkAccent, 0.7)

$selectArrowColor = $salt-box
$selectArrowColorFocus = $brand

$buttonText = $swirl
$buttonBackground = $brand
$buttonBackgroundHover = $thunder
$buttonBackgroundDisabled = $brand

$buttonOutlineText = $brand
$buttonOutlineTextHover = $thunder
$buttonOutlineBackgroundHover = $thunder
$buttonOutlineTextDisabled = $brand

$buttonClearText = $brand
$buttonClearTextHover = $thunder
$buttonClearTextDisabled = $brand

$tableBorderColor = $swirl

$blockquoteBorderColor = $salt-box
$codeBackground = $salt-box
$preBackground = $salt-box
$preBorderColor = $brand
$hrColor = $salt-box

$headerLogoColor = $brand
$headerSmallColor = $fadedText

$logItemSentColor = $warning
$logItemReceivedColor = $success
$logItemErrorColor = $danger
