$cararra       = #edefea
$flamingo      = #f55520
$gray-nurse    = #eaefeb
$guardsman-red = #bd0000
$jagged-ice    = #c3e7ea
$kabul         = #634843
$livid-brown   = #442737
$mine-shaft    = #222222
$pomegranate   = #f24f17
$ronchi        = #ebc147
$salt-box      = #6e6473
$sorbus        = #fc840a
$stiletto      = #993638
$swirl         = #d7d1cb
$sycamore      = #7f9442
$thunder       = #312528
$white         = #eeeeee

// branding
$cod-gray      = #0A070A
$ship-gray     = #333237
$rob-roy       = #eac77a
$westar        = #e5e2d9
$mischka       = #e5e4e6

// Reds
$salmon        = #ff8473
$coral-red     = #ff4241
$copper-rust   = #984843

// Greens
$emerald       = #3cc480
$sea-green     = #2C8E5D
$green-pea     = #216B46

// Blues
$dodger-blue   = #3c86ff
$malibu        = #55d7fe
$melrose       = #a3a0fb
$gun-powder    = #43425c

// Greys
$grey          = #555555
$lightestGrey  = lighten($grey, 70%)
$lighterGrey   = lighten($grey, 50%)
$lightGrey     = lighten($grey, 15%)
$darkGrey      = darken($grey, 15%)
$darkerGrey    = darken($grey, 50%)
$darkestGrey   = darken($grey, 70%)

$lightShade = $mischka
$lightAccent = $westar
$brand = $rob-roy
$darkAccent = $ship-gray
$darkShade = $cod-gray
$redAccent = $copper-rust

$primary = $brand
$info = $malibu
$success = $emerald
$warning = $salmon
$danger = $coral-red

$backgroundColor = $darkShade
$cardBackground = $darkAccent

$textColor = $lightShade
$fadedText = darken($textColor, 30%)

$linkColor = $lightShade
$linkColorHover = lighten($linkColor, 15%)

$inputText = $brand
$inputBackground = transparent
$inputBorder = $lightestGrey
$inputBorderFocus = $brand

$selectArrowColor = $lightAccent
$selectArrowColorFocus = $brand

$buttonText = $darkShade
$buttonTextHover = $brand
$buttonBackground = $brand
$buttonBackgroundHover = transparent
$buttonBackgroundDisabled = $brand
$buttonBorder = $brand
$buttonBorderHover = $lightestGrey

$buttonOutlineText = $brand
$buttonOutlineTextHover = $lightestGrey
$buttonOutlineBorderHover = $lightestGrey
$buttonOutlineTextDisabled = $brand

$buttonSuccessOutlineText = $success
$buttonSuccessOutlineBorderHover = $success
$buttonSuccessOutlineTextHover = $success
$buttonSuccessOutlineTextDisabled = $success

$buttonDangerOutlineText = $danger
$buttonDangerOutlineBorderHover = $danger
$buttonDangerOutlineTextHover = $danger
$buttonDangerOutlineTextDisabled = $danger

$buttonClearText = $brand
$buttonClearTextHover = $darkShade
$buttonClearTextDisabled = $brand

$tableBorderColor = $lightShade

$blockquoteBorderColor = $lightAccent
$codeBackground = $lightAccent
$preBackground = $lightAccent
$preBorderColor = $brand
$hrColor = $lightAccent

$headerLogoColor = $lightAccent
$headerSmallColor = $fadedText

$logItemSentColor = $warning
$logItemReceivedColor = $success
$logItemErrorColor = $danger

$sidebarIcon = $brand
$sidebarLabel = $white

$progressBarActive = $sea-green
$progressBarInctive = $lightGrey
