@import './colors'
@import './vars'

*,
*:after,
*:before
  box-sizing inherit

:focus
  outline none

html
  box-sizing border-box
  font-size 62.5%

body
  color $textColor
  background-color $backgroundColor
  font-family 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  font-size 1.6em
  font-weight 300
  letter-spacing .04em
  line-height 1.6

blockquote
  border-left 0.3rem solid $blockquoteBorderColor
  margin-left 0
  margin-right 0
  padding 1rem 1.5rem
  *:last-child
    margin-bottom 0

code
  background $codeBackground
  border-radius .4rem
  font-size 86%
  margin 0 .2rem
  padding .2rem .5rem
  white-space nowrap

pre
  background $preBackground
  border-left 0.3rem solid $preBorderColor
  overflow-y hidden
  & > code
    border-radius 0
    display block
    padding 1rem 1.5rem
    white-space pre

hr
  border 0
  border-top 0.1rem solid $hrColor
  margin 3.0rem 0

textarea
  -webkit-appearance none
  appearance none
  background-color $inputBackground
  border 0.1rem solid $inputBorder
  color $inputText
  transition border-color 200ms linear
  border-radius .4rem
  box-shadow none
  box-sizing inherit
  height 4rem
  min-height 6.5rem
  padding .6rem 1.0rem
  width 100%
  font-size 1.4rem
  font-weight 100

  &:hover,
  &:focus
    border-color $inputBorderFocus
    outline 0

label,
legend
  display block
  font-size 1.6rem
  font-weight 100
  margin-bottom .5rem

fieldset
  border-width 0
  padding 0

input[type='checkbox'],
input[type='radio']
  display inline

// @media (min-width: 40rem)
//   .row
//     flex-direction row
//     margin-left -1.0rem
//     width calc(100% + 2.0rem)
//     .column
//       margin-bottom inherit
//       padding 0 1.0rem

a
  // color $linkColor
  text-decoration none

a:focus, a:hover
  color $linkColorHover

dl,
ol,
ul
  list-style none
  margin-top 0
  padding-left 0

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul
  font-size 90%
  margin 1.5rem 0 1.5rem 3.0rem

ol
  list-style decimal inside

ul
  list-style circle inside

dd,
dt,
li
  margin-bottom 1.0rem

fieldset,
textarea
  margin-bottom 1.5rem

blockquote,
dl,
figure,
ol,
p,
pre,
table,
ul
  margin-bottom 2.5rem

table
  border-spacing 0
  width 100%

td,
th
  border-bottom 0.1rem solid $tableBorderColor
  padding 1.2rem 1.5rem
  text-align left

td:first-child,
th:first-child
  padding-left 0

td:last-child,
th:last-child
  padding-right 0

b,
strong
  font-weight 400

p
  margin-top 0

h1,
h2,
h3,
h4,
h5,
h6
  font-weight 400
  margin-bottom 2.0rem
  margin-top 1rem

h1
  font-size 2rem
  line-height 1.2

h2
  font-size 1.8rem
  line-height 1.25

h3
  font-size 1.5rem
  line-height 1.3

h4
  font-size 1.3rem
  letter-spacing -.08rem
  line-height 1.35

h5
  font-size 1.2rem
  letter-spacing -.05rem
  line-height 1.5

h6
  font-size 1rem
  letter-spacing 0
  line-height 1.4

img
  max-width 100%
