.flex-box
  display flex
  width 100%

  &.flex-col
    flex-direction column

    &.flex-reverse
      flex-direction column-reverse
  
  &.flex-row
    flex-direction row

    &.flex-reverse
      flex-direction row-reverse
  