.flex-box
  display flex
  width 100%

  &.flex-col
    flex-direction column

    &.flex-reverse
      flex-direction column-reverse
  
  &.flex-row
    flex-direction row

    &.flex-reverse
      flex-direction row-reverse
  
  &.flex-start
    justify-content flex-start

  &.flex-end
    justify-content flex-end

  &.flex-around
    justify-content space-around

  &.flex-between
    justify-content space-between

.flex-no-shrink
  flex-shrink 0
