.input-group
  .input-group-child:first-child,
  .input-group-child:first-child .react-select__control
    border-top-left-radius .4rem
    border-bottom-left-radius .4rem

  .input-group-child:last-child,
  .input-group-child:last-child .react-select__control
    border-top-right-radius .4rem
    border-bottom-right-radius .4rem
    border-right-width .1rem

  .input-group-child,
  .input-group-child .react-select__control
    border-radius 0
    border-right-width 0