@import '../../styles/colors'
@import '~react-rangeslider/lib/index.css'

.rangeslider
  border-radius .2rem
  box-shadow none

  .rangeslider__fill
    background-color $brand
    border-radius .4rem
    box-shadow none

  .rangeslider__handle
    width 1.8rem
    height 1.8rem
    border-radius .2rem
    border 0
    background-color $brand

    &:after
      content none

