@import '../../styles/colors'

$radius = 1.5rem
$border = .2rem

.progress-steps-container
  margin 2rem auto

  .progress-steps
    margin 0
    padding 0
    counter-reset step
    display flex

    li
      list-style-type none
      flex 1
      font-size 1.4rem + ($border / 2)
      position relative
      text-align center
      text-transform uppercase
      color $progressBarInctive
    
      &:before
        width $radius * 2
        height $radius * 2
        content counter(step)
        counter-increment step
        line-height ($radius * 2) - ($border * 2)
        border $border solid $progressBarInctive
        display block
        text-align center
        margin 0 auto 1rem auto
        border-radius 50%

      &:after
        width "calc(100% - %s)" % ($radius * 2)
        height $border
        content ''
        position absolute
        background-color $progressBarInctive
        top $radius
        left "calc(-50% + %s)" % $radius
        z-index -1

      &:first-child:after
        content none

      &.active
        color $progressBarActive

      &.active:before
        border-color $progressBarActive

      &.active + li:after
        background-color $progressBarActive
        z-index 1
